/* .evaluator1{
    display: block;
    height: 40px;
    width: 320px;
    border-bottom: none;
    font-size: 20px;
    text-align: right;
}

.expression1{
    display: block;
    height: 40px;
    width: 320px;
    border-top: none;
    font-size: 20px;
    text-align: right;
}

.button-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns:repeat(4,80px);
    gap:2px;
} */